#contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

#contenedor >div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  
}

.cjas:hover {
  color: red;
  transform: translateY(-5px);
}


.cardPokemon {
  height: 200px;
  width: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cardPokemon > div {
  height: 150px;
  
}

a{
  text-decoration: none;
  color: white;
}

.cardPokemon > div > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cardPokemon > h1 {
  text-transform: capitalize;
}

.cardPokemon > h1,
.cardPokemon > p
{
  margin: 0;
}

/* //////////ANIMATION//////////// */

.pokeAnimation{
  /* background-color: rgba(0, 0, 0, 0.5); */
  -webkit-transition: all 1s ease;
  -o-animation: all 1s ease;
  transition: all 1s ease;
  z-index: 100;
  position:absolute;
  margin: auto;
  width: 80%;
  height: 100%;
  
}

.pokeAnimation>img{
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation:girar 1.5s linear infinite ;
  animation: girar 1.5s linear infinite;
  width: 100%;
  height: 100%;

}

@keyframes girar {
  from{transform: rotate(0deg);}
  to {transform: rotate(360deg);}
  
}
